<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Home</title>
		<style>
			.content {
				max-width: 600px;
				margin: white;
				background: whitesmoke;
				padding: 10px;
				border: 1px solid black;
			}

			p,input {
				font-family: 'Roboto', sans-serif;
			}
		</style>
		<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
		<link
		rel="stylesheet"
		href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
		integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
		crossorigin="anonymous"
		/>
	</head>
	<body style="background-image: url('https://images.pexels.com/photos/41324/background-close-up-flora-fresh-41324.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');">
		<div align="center">
            <p>
                Model which detects to which Iris family a flower belongs with the help specific features <br />
            </p>
			<div class="content">
				<form method="POST" action="{{url_for('home')}}">
					<p>Sepal Length </p>
					<input type="text" name="sLength" required /> <br> <br />
                    <p>Sepal Width </p>
					<input type="text" name="sWidth" required /> <br> <br />
                    <p>Petal Length </p>
					<input type="text" name="pLength" required /> <br> <br />
                    <p>Petal Width </p>
					<input type="text" name="pWidth" required /> <br > <br />
					<br />
					<p>Note : Enter the lengths and widths in cm</p>
					<br />
					<input type="submit" value="Predict" class="btn btn-info" />
					<input type="reset" value="Reset" class="btn btn-danger" />
				</form>
			</div>
		</div>
		<script
		src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
		integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
		crossorigin="anonymous"
		></script>
		<script
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
		integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
		crossorigin="anonymous"
		></script>
		<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
		integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
		crossorigin="anonymous"
		></script
	</body>
</html>